.projects {
  display: flex;
  flex-direction: column;
}

.projects__header h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.projects__main {
  display: flex;
}

.projects__main__left {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  min-width: 190px;
}

.projects__main__left button {
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: left;
  margin-top: 1rem;
  color: #dbd9d9;
  transition: all 0.2s ease-in-out;
}

.projects__main__left button:hover {
  /* color: var(--lightBlue); */
  color: #ebe9e9;
  transform: scale(1.1) translate(15px, 0);
}

.projects__main__left__btn-focused {
  color: var(--blue) !important;
  transform: scale(1.1) translate(15px, 0);
}

.projects__main__right {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* margin-left: 25px; */
  /* padding: 5px; */
}

.projects__main__right span {
  color: var(--lightPink);
}

.projects__main__right p {
  font-size: 1.25rem;
  color: #dbd9d9;
  margin-top: 11px;
}

.projects__main__right a {
  color: var(--pink);
}

.projects__main__right a:hover {
  color: #ff0099e8;
}

.projects__main__right__theme-image {
  max-width: 700px;
  display: flex;
}

.projects__main__right__theme-image img {
  width: 100%;
}

.carousel-img {
  width: 100%;
  max-height: 400px;
}
