.footer {
  height: 2.5rem;
  /* background-color: rgb(66, 66, 66); */
  /* padding-left: 25px;
  padding-right: 25px; */
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer__email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer__email a {
  color: #25d8ae;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer__email a:hover {
  color: #1eac8b;
  transform: scale(1.1);
}
