.footer {
  height: 2.5rem;
  /* background-color: rgb(66, 66, 66); */
  /* padding-left: 25px;
  padding-right: 25px; */
  display: flex;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  /* position: absolute;
  bottom: 0; */
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__socials__icons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__socials__icons::before {
  position: absolute;
  content: ' ';
  border-top: 1px solid var(--lightGreen);
  width: 5rem;
  top: 50%;
  left: -6rem;
}

.footer__socials__icons::after {
  position: absolute;
  content: ' ';
  border-top: 1px solid var(--lightGreen);
  width: 5rem;
  top: 50%;
  right: -6rem;
}

.footer__socials__icons__icon {
  color: var(--lightGreen);
  transition: all 0.2s ease-in-out;
}

.footer__socials__icons__icon:hover {
  color: #1eac8b;
  transform: scale(1.1);
}

.footer__email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer__email__container {
  display: flex;
  align-items: center;
  position: relative;
}

.footer__email__container a {
  color: var(--lightGreen);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer__email__container::before {
  position: absolute;
  content: ' ';
  border-top: 1px solid var(--lightGreen);
  width: 5rem;
  top: 50%;
  left: -6rem;
}

.footer__email__container::after {
  position: absolute;
  content: ' ';
  border-top: 1px solid var(--lightGreen);
  width: 5rem;
  top: 50%;
  right: -6rem;
}

.footer__email__container a:hover {
  color: #1eac8b;
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .footer__socials {
    width: 50%;
  }
}
